@import url(./reset.css);

@font-face {
  font-family: "YiSunShinDotumM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.wrap {
  font-family: "YiSunShinDotumM";
  font-weight: 100;
  color: #000;
}

/* 헤더 */
.gnb-top {
  box-shadow: 0px 0px 6px 0px rgb(41 42 42 / 15%);
}
.inner {
  position: relative;
  width: 940px;
  margin: auto;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gnb__bar--mo,
.gnb__logo--mo {
  display: none;
}
.top-menu {
  z-index: 100;
  display: none;
  position: absolute;
  top: 89px;
  width: 210px;
  height: 417px;
  background-color: #13294b;
}
.top-menu.active {
  display: unset;
}
.top-menu__main {
  color: #fff;
  padding: 12px 0 0;
}
.main-list {
  padding-left: 19px;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
}
.main-icon2 {
  position: relative;
}
.main-list::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 44px;
  vertical-align: -18px;
  margin-right: 7px;
  background: url(../img/gnb_allmenu_icon.png);
}
.main-icon2::before {
  background-position: 0 -40px;
}
.main-icon2::after {
  content: "";
  display: inline-block;
  background: url(../img/gnb_allmenu_arrow.png) no-repeat;
  background-size: cover;
  width: 7px;
  height: 13px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.main-icon3::before {
  background-position: 0 -240px;
}
.main-icon4::before {
  background-position: 0 -280px;
}
.main-icon4::after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  vertical-align: 12px;
  margin-left: 6px;
  background-color: #fb5b41;
}
.main-list.active {
  background-color: #2f4f7f;
  position: relative;
}
.main-list:hover {
  background-color: #2f4f7f;
}
.top-menu__sub {
  background: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: inset 0px 9px 6px -9px rgb(42 42 42 / 15%);
  color: #333;
  position: absolute;
  width: 100%;
  height: 416px;
  top: -62px;
  left: 210px;
  padding: 17px 0 0 19px;
}
.top-menu__sub::before {
  content: "";
  display: block;
  background-color: #2f4f7f;
  width: 10px;
  height: 40px;
  position: absolute;
  top: 61px;
  left: -2px;
}
.sub-list {
  height: 35px;
}
.sub-list:hover {
  color: #13294b;
  font-weight: 900;
}
.login {
  margin-top: 111px;
}
.login__profile img {
  margin: auto;
}
.login__btn {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 12px;
  color: #fff;
  font-size: 15px;
}
.login__btn a {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.gnb__search {
  position: relative;
}
.gnb__search-box {
  width: 520px;
  height: 45px;
  background-color: #eef0f2;
  border-radius: 10px;
  line-height: 45px;
  font-size: 16px;
  padding: 0 50px 0 20px;
  border: 0;
}
.gnb__search-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.gnb-bottom {
  border-bottom: 1px solid #f0f0f0;
}
.bottom__menu {
  line-height: 65px;
  text-align: center;
  height: 65px;
  width: 940px;
  margin: auto;
  display: flex;
}
.bottom__menu-item {
  flex: 1;
  position: relative;
}
.bottom__menu-item:hover::after,
.menu-item--home::after {
  content: "";
  display: block;
  width: 83px;
  height: 4px;
  background: #333;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.menu-item--home:hover::after {
  display: none;
}
.menu-item--home:hover .bottom__sub {
  display: block;
}
.menu-item--home a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.bottom__sub {
  display: none;
  width: 165px;
  border: 1px solid #636363;
  margin: -64px auto 0;
  padding-top: 50px;
  background: none;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px rgb(51 51 51 / 21%);
}
.bottom__submenu {
  padding: 0 0 20px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}
.bottom__submenu-list {
  height: 35px;
  line-height: 35px;
}
.bottom__submenu-list:hover a {
  font-weight: border;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .inner {
    width: 100%;
    background-color: orange;
    position: relative;
    height: 35px;
    padding: 15px 0 0;
  }
  .gnb__bar--pc {
    display: none;
  }
  .gnb__bar--mo {
    display: unset;
    position: absolute;
    right: 10px;
  }
  .gnb__bar--mo img {
    width: 19px;
  }
  .gnb__logo--pc {
    display: none;
  }
  .gnb__logo--mo {
    display: unset;
    margin: auto;
    width: 144px;
  }
  .gnb__logo--mo img {
    width: 100%;
  }
  .login {
    background-color: red;
  }
  .gnb__search,
  .gnb__icon {
    display: none;
  }
  .gnb-bottom {
    display: none;
  }
}
