@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  width: 100%;
  display: block;
}

.font-noto {
  font-family: "Noto Sans KR";
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.container {
  width: 940px;
  height: 100%;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 473.4px;
  object-fit: cover;
}

.swiper-pagination-progressbar {
  width: 940px !important;
  height: 3px !important;
  position: absolute;
  top: 88% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  background-color: rgba(255, 255, 255, 0.232) !important;
}

.swiper-pagination-progressbar-fill {
  background-color: white !important;
}

.keyword-swiper {
  background-color: #f6f7f8;
  height: 59px !important;
  margin-top: 50px;
  padding-left: 15px !important;
}

.keyword-swiper__slide {
  width: auto !important;
  height: 26px !important;
  line-height: 23px;
  margin: auto 5px auto auto;
  border: 1px solid #e5e5e5;
  color: #666;
  background-color: #fff;
  font-size: 12px;
  padding: 0 10px;
  border-radius: 50px;
}

.keyword-swiper__slide.active {
  background-color: #6f6f6f;
  color: #fff;
}

.section3-swiper {
  margin-top: 50px;
  padding: 0 15px !important;
}

.section3-slide {
  width: 230px !important;
  height: 338px !important;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 20px 0px rgba(158, 154, 153, 0.32);
  position: relative;
}

.section3-swiper__pagination {
  background-color: #dddbdb !important;
  height: 2px !important;
}
.section3-swiper__pagination .swiper-pagination-progressbar-fill {
  background-color: #000 !important;
  width: 553px !important;
  transform: translate3d(0 0 0);
  transition-duration: 0ms;
}

@media (max-width: 1024px) {
  .main {
    position: relative;
  }
  .swiper {
    position: absolute;
    top: -50px;
    height: 442px;
  }
}
.button {
  background-color: transparent;
  border: 0;
  color: #333;
  cursor: pointer;
}

.gnb__top {
  height: 89px;
  box-shadow: 0px 0px 6px 0px rgba(41, 42, 42, 0.15);
}

.gnb__top-container {
  position: relative;
  justify-content: space-between;
}

.gnb__top-hamburger {
  font-size: 30px;
}

.gnb__top-hamburger-menu {
  z-index: 100;
  display: none;
  position: absolute;
  top: 89px;
  left: 0;
  width: 210px;
  height: 417px;
  background-color: #13294b;
}

.gnb__top-hamburger-menu.active {
  display: block;
}

.gnb__top-hamburger-logo,
.hamburger-background {
  display: none;
}

.hamburger-closed {
  display: none;
  cursor: pointer;
}

.hamburger-menu {
  padding: 12px 0 0;
}

.hamburger-menu__item {
  margin-top: 5px;
}

.hamburger-menu__item-link {
  display: block;
  padding-left: 19px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}

.hamburger-menu__item-link::before {
  background-image: url(../../assets/icons/icon_top-menu.png);
  content: "";
  display: inline-block;
  width: 21px;
  height: 44px;
  margin-right: 7px;
  vertical-align: -18px;
}

.hamburger-menu__item-link--item02 {
  background-color: #2f4f7f;
  position: relative;
}
.hamburger-menu__item-link--item02 .fa-sharp {
  opacity: 0.5;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.hamburger-menu__item-link--item02::before {
  background-position: 0 -40px;
}

.hamburger-menu__item-link--item03::before {
  background-position: 0 -240px;
}

.hamburger-menu__item-link--item04::before {
  background-position: 0 -280px;
}

.hamburger-menu__item-link--item04::after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  vertical-align: 12px;
  margin-left: 6px;
  background-color: #fb5b41;
}

.hamburger-menu__sub {
  padding-top: 20px;
  position: absolute;
  left: 210px;
  top: -1px;
  height: 416px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #f0f0f0;
  box-shadow: inset 0px 9px 6px -9px rgba(42, 42, 42, 0.15);
}

.hamburger-menu__sub-link {
  display: block;
  padding-left: 19px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}

.hamburger-menu__sub-link:hover {
  font-weight: 600;
}

.hamburger-menu__sub::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 41px;
  background-color: #2f4f7f;
  position: absolute;
  top: 62px;
  left: -2px;
}

.hamburger-menu__item.active {
  background-color: #2f4f7f;
}

.hamburger-menu__item:hover {
  background-color: #2f4f7f;
}

.avatar {
  margin-top: 111px;
  display: flex;
  flex-direction: column;
}

.avatar__img {
  width: 50px;
  margin: auto;
  margin-bottom: 14px;
}

.avatar__text-bold {
  font-weight: 400;
}

.button--white {
  font-size: 15px;
  color: #fff;
}

.avatar__arrow {
  opacity: 0.6;
  font-size: 13px;
  margin-left: 3px;
}

.gnb__top-logo {
  margin-left: 43px;
}

.gnb__top-logo-mobile {
  display: none;
}

.gnb__top-input-wrap {
  width: 520px;
  margin-left: 12px;
  position: relative;
}

.input-wrap__input {
  padding: 0 50px 0 20px;
  height: 45px;
  line-height: 45px;
  border: 0;
  width: 100%;
  font-size: 16px;
  background: #eef0f2;
  outline: none;
  border-radius: 10px;
  font-family: "Noto Sans KR", sans-serif;
}

.input-wrap__input.active {
  border: 1px solid #333;
  background-color: #fff;
}

.input-wrap__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}

.icon-magnifier {
  color: #7b7b7b;
}

.input-wrap__keyword-wrap {
  z-index: 100;
  display: none;
  position: absolute;
  width: 100%;
  top: 55px;
  overflow: hidden;
  border: 1px solid #666;
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
}

.input-wrap__keyword-title {
  padding: 0 28px;
  margin-top: 20px;
  height: 33px;
  line-height: 33px;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.5px;
  color: #333;
}

.keyword__columns {
  padding-bottom: 32px;
}

.keyword__column {
  flex: 1;
}

.keyword__item {
  padding-left: 28px;
  margin-top: 20px;
}

.keyword__item-num {
  display: block;
  background-color: #666;
  color: #fff;
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
}

.keyword__item-link {
  margin-left: 10px;
  width: 140px;
  height: 20px;
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
}

.keyword__item-num--lightgray {
  background-color: #949494;
}

.keyword__item-link--lightgray {
  color: #666;
  font-weight: 400;
}

.keyword-close {
  background-color: #eef0f2;
  width: 100%;
  height: 33px;
  text-align: right;
}

.keyword-close__button {
  padding: 0 20px;
  line-height: 33px;
  font-size: 14px;
}

.gnb__bottom {
  height: 65px;
  position: sticky;
  top: 0;
}

.gnb__bottom-menu {
  height: 100%;
}

.bottom-menu__item {
  height: 100%;
  line-height: 62px;
  flex: 1;
  text-align: center;
}

.bottom-menu__item-link {
  display: block;
  font-size: 18px;
  color: #000;
  position: relative;
}

.bottom-menu__item-link--home {
  position: relative;
  z-index: 11;
  padding-left: 25px;
  font-weight: 500;
}

.bottom-menu__item-link--home::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 19px;
  background: url(../../assets/icons/icon_home.gif);
  position: absolute;
  bottom: 20px;
  left: 125px;
}

.bottom-menu__item-link--home::after {
  content: "";
  display: inline-block;
  width: 83px;
  height: 4px;
  background-color: #333;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-menu__item-link:hover::after {
  content: "";
  display: inline-block;
  width: 83px;
  height: 4px;
  background-color: #333;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-menu__item--home:hover .bottom-menu__item-link--home::after {
  display: none;
}

.fa-caret-down {
  font-size: 11px;
  margin-left: 10px;
  vertical-align: 2px;
  color: #666;
  opacity: 0.6;
}

.bottom-menu__dropmenu {
  position: relative;
  z-index: 10;
  display: none;
  width: 165px;
  border: 1px solid #636363;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #fff;
  margin: -62px auto 0;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px rgba(51, 51, 51, 0.21);
}

.bottom-menu__dropmenu-link {
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}

.bottom-menu__dropmenu-link:hover {
  font-weight: 700;
}

@media (max-width: 1024px) {
  .gnb__top {
    z-index: 10;
    height: 50px;
    box-shadow: none;
    position: relative;
  }
  .container {
    width: 100%;
    position: relative;
  }
  .gnb__top-hamburger {
    position: absolute;
    right: 15px;
    font-size: 20px;
    color: #fff;
  }
  .gnb__top-hamburger-menu {
    position: fixed;
    width: 92%;
    height: 100%;
    left: auto;
    right: 0;
    top: 0;
    background-color: #eef0f2;
  }
  .hamburger-background {
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 232.5px;
    background-image: url(../../assets/images/gnb_mo_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hamburger-closed {
    display: block;
    font-size: 23px;
    color: #fff;
    position: absolute;
    left: 15px;
    top: 12.5px;
  }
  .gnb__top-hamburger-logo {
    display: block;
    width: 144px;
    height: 20.5px;
    margin: 14.5px auto 0;
  }
  .hamburger-menu {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 202px;
    padding: 0;
    background: #fff;
    z-index: 10;
    border-radius: 10px;
  }
  .hamburger-menu__item {
    padding: 0 0 14.5px;
  }
  .hamburger-menu__item:first-child {
    padding: 15px 0 10px;
  }
  .hamburger-menu__item:last-child {
    padding: 0 0 25px;
  }
  .hamburger-menu__item-link {
    color: #333;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
  }
  .hamburger-menu__item-link--item02 {
    background-color: transparent;
  }
  .hamburger-menu__item-link--item02 .fa-sharp {
    transform: rotate(-90deg);
  }
  .hamburger-menu__item-link::before {
    background: url(../../assets/icons/icon_top-menu-black.gif);
    background-size: 100%;
    width: 19px;
    height: 30px;
    vertical-align: -9px;
  }
  .hamburger-menu__item-link--item02::before {
    background-position: 0 -30px;
  }
  .hamburger-menu__item-link--item03::before {
    background-position: 0 -180px;
  }
  .hamburger-menu__item-link--item04::before {
    background-position: 0 -210px;
  }
  .hamburger-menu__sub {
    position: static;
    box-shadow: none;
    height: auto;
    border: transparent;
    padding: 0 20px 0 45px;
  }
  .hamburger-menu__sub::before {
    display: none;
  }
  .hamburger-menu__sub-link {
    padding: 0;
    height: 29.5px;
    line-height: 29.5px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 13px;
  }
  .avatar {
    position: absolute;
    width: 100%;
    top: -34px;
  }
  .avatar__img {
    margin-bottom: 10px;
  }
  .avatar__arrow {
    opacity: 1;
    margin-left: 1px;
    font-weight: 700;
  }
  .avatar__text-bold {
    font-weight: 700;
  }
  .button--white {
    font-size: 14px;
    color: #fff;
  }
  .gnb__top-logo {
    display: none;
  }
  .gnb__top-logo-mobile {
    display: block;
    width: 144px;
    margin: auto;
  }
  .gnb__top-input-wrap,
  .gnb__top-icon-map {
    display: none;
  }
  .gnb__bottom {
    display: none;
  }
}
.section0 {
  display: none;
  padding: 0 15px;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 24px;
  position: relative;
}

.section0__input-search {
  display: block;
  border: 0;
  font-size: 12px;
  background-color: #eef0f2;
  outline: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 46px 0 15px;
  margin-top: 20px;
  border-radius: 7px;
}

.input-wrap__icon--mobile {
  position: absolute;
  top: auto;
  bottom: auto;
  bottom: -3px;
  right: auto;
  right: 25px;
  font-size: 15px;
}

.section1 {
  background-color: #f0f2f7;
  height: 430px;
}

.section1__header {
  padding: 41px 0 30px;
}

.section1__header-img {
  width: 570px;
}

.header__img--mobile {
  display: none;
}

.section1__tabs {
  gap: 18px;
}

.tabs__tab {
  width: 165px;
  padding: 0 0 13px;
  cursor: pointer;
}

.tabs__tab-button {
  display: block;
  background-image: url(../../assets/icons/icon_section1-button.png);
  height: 42px;
  border-radius: 50px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.tabs__tab-button01.active {
  background-color: #5558e3;
  box-shadow: 7px 11px 24px 0px rgba(85, 88, 227, 0.26);
  background-position: 0 -42px;
}

.tabs__tab-button02 {
  background-position: 0 -168px;
}

.tabs__tab-button03 {
  background-position: 0 -84px;
}

.tabs__tab-button02.active {
  background-color: #4094f2;
  background-position: 0 -210px;
  box-shadow: 7px 11px 24px 0px rgba(85, 88, 227, 0.26);
}

.tabs__tab-button03.active {
  background-color: #567ff2;
  background-position: 0 -126px;
  box-shadow: 7px 11px 24px 0px rgba(85, 88, 227, 0.26);
}

.tabs__tab-desc {
  padding: 8px 0 0 8px;
  font-size: 15px;
  color: #666;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.7px;
  word-break: keep-all;
}

.tab-panel__item {
  width: 233px;
  height: 235px;
  margin-left: 20px;
  border-radius: 20px;
  overflow-y: hidden;
}

.tab-panel__item-link {
  position: relative;
}

.tab-panel__item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 40%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
}

.tab-panel__item-img {
  width: 233px;
  height: 235px;
}

.tab-panel__item-title {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  height: 72px;
  line-height: 72px;
  color: #fff;
  letter-spacing: -0.5px;
  z-index: 5;
}

.tab__panel--mobile {
  display: none;
}

.tabs__tab-more {
  justify-content: flex-end;
  color: #333;
  line-height: 19px;
  margin-top: 10px;
}

button {
  color: #333;
  line-height: 19px;
  margin-right: 18px;
}

.tab-more__icon-refresh {
  width: 18px;
  height: 16px;
  margin-left: 6px;
  vertical-align: -20px;
}

.tab-more__icon-arrow {
  color: #333;
}

.tab-panel--ai {
  background-color: #fff;
  height: 235px;
  width: 739px;
  border-radius: 20px;
  margin-left: 20px;
  justify-content: center;
  gap: 50px;
}

.tab-panel__desc-title {
  font-size: 18px;
  color: #000;
  line-height: 21px;
  line-height: 21px;
  letter-spacing: -0.07px;
}

.tab-panel__desc-desc {
  padding: 5px 0 19px;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 20px;
  color: #666;
}

.tab-panel__desc-button {
  height: 35px;
  line-height: 35px;
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #fff;
  border-radius: 5px;
  background-color: #4094f2;
  text-align: center;
  margin-left: 2px;
}

.section2 {
  margin-top: 50px;
}

.section2__row {
  justify-content: space-between;
}

.section2__banner-link {
  overflow: hidden;
  border-radius: 20px;
}

.board__header {
  margin-bottom: 16px;
}

.board__more-link {
  padding: 0 15px 0 0;
  position: relative;
  margin-top: 15px;
  height: 38px;
}

.board__title {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #000;
}

.board__title-add {
  font-size: 20px;
  position: absolute;
  right: 0;
}

.board__item {
  border-bottom: 1px solid #e6e6e6;
}

.board__item:hover {
  text-decoration: underline;
}

.board__item--n1 {
  background-color: #eee;
}

.board__item-link {
  line-height: 42px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.board__item-link--n1 {
  margin: 0 15px;
}

.board__item-title {
  color: #a2660d;
}

.section2__col--2 {
  width: 465px;
  background-color: blue;
}

.img-grid {
  gap: 7px;
  flex-wrap: wrap;
  align-items: stretch;
}

.img-grid__item {
  border-radius: 10px;
  overflow: hidden;
}

.img-grid__item img {
  width: 229px;
  height: 240px;
}

.img-grid__grid2 {
  display: none;
}

.section2--mobile {
  display: none;
}

.section__title--mobile {
  font-weight: 500;
  color: #000;
  line-height: 21px;
  letter-spacing: -1px;
  font-size: 17px;
  padding: 27px 30px 14px 15px;
}

.section2-swiper {
  border: 3px solid cyan;
  margin-top: 50px;
  padding: 0 15px !important;
  position: relative;
}

.section2-slide {
  width: 235px !important;
}

.section2-slide__img {
  height: 190px !important;
}

.section2-slide__desc {
  font-size: 14px;
  font-weight: 300;
  margin: 17px 0 0;
  text-align: left;
  line-height: 18px;
}

.section2-swiper__button-next,
.section2-swiper__button-prev {
  position: absolute;
  background-color: red;
  top: 0 !important;
}

.section3 {
  margin-top: 50px;
}

.section3__img-grid {
  flex-wrap: wrap;
  gap: 20px;
  background-color: orange;
}

.section3__item {
  position: relative;
}

.section3__img {
  padding: 19px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}

.section3__link {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.section3__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 40%;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.639));
}

.section3__text {
  position: absolute;
  left: 39px;
  top: 34px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 21px;
}

.section3--mobile {
  display: none;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.section3-img {
  height: 230px !important;
}

.section3-text {
  height: 100%;
  text-align: left;
  padding: 0 20px;
}

.section3-text__desc {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-weight: 300;
  margin: 17px 0 0;
}

.section3-text__tags {
  margin-top: 15px;
}

.section3-text__tag {
  text-align: center;
  padding: 0 10px;
  background-color: #f0f0f0;
  border-radius: 50px;
  margin-right: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.section3-bookmark {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 0;
  background: url(../../assets/icons/icon_bookmark.png) 0 0/100% auto no-repeat;
}

@media (max-width: 1024px) {
  .section0 {
    display: block;
  }
  .section1 {
    height: auto;
    padding-bottom: 20px;
    margin: 20px 0 0;
  }
  .section1__tabs {
    flex-direction: column;
  }
  .tabs__tab-list {
    display: flex;
  }
  .section1__header {
    padding: 20px 0 17px;
    margin: 0 15px;
  }
  .section1__header-img {
    width: 300px;
  }
  .header-img--pc {
    display: none;
  }
  .header__img--mobile {
    display: block;
  }
  .tabs__tab-list {
    background-color: #fff;
    width: 97%;
    height: 33px;
    margin: 0 auto 80px;
    border-radius: 50px;
  }
  .tabs__tab {
    width: 33.33%;
    position: relative;
  }
  .tabs__tab-button {
    height: 33px;
  }
  .tabs__tab-button01 {
    background-image: url(../../assets/icons/icon_hotplace-mobile.png);
    background-position: 50% 0;
    background-size: 49px;
    background-repeat: no-repeat;
  }
  .tabs__tab-button01.active {
    background-position: 50% 100%;
    box-shadow: none;
  }
  .tabs__tab-button02 {
    background-image: url(../../assets/icons/icon_planner-mobile.png);
    background-size: 73px;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
  .tabs__tab-button02.active {
    background-position: 54% -33px;
    box-shadow: none;
  }
  .tabs__tab-button03 {
    background-image: url(../../assets/icons/icon_ai-mobile.png);
    background-position: 50% 0;
    background-size: 45px;
    background-repeat: no-repeat;
  }
  .tabs__tab-button03.active {
    background-position: 50% -33px;
    box-shadow: none;
  }
  .tabs__tab-desc {
    margin-top: 15px;
    line-height: 15px;
    height: 30px;
    font-size: 12px;
    color: #333;
    letter-spacing: -0.3px;
    position: absolute;
  }
  .tabs__tab-desc01::before {
    content: "";
    width: 16px;
    height: 19px;
    background-image: url(../../assets/icons/icon_tab-house-mobile.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 8px;
  }
  .tabs__tab-desc01::after {
    content: "핫플콕콕";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 30px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
  }
  .tabs__tab-desc02::before {
    content: "";
    width: 16px;
    height: 19px;
    background-image: url(../../assets/icons/icon_tab-house-mobile.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 8px;
  }
  .tabs__tab-desc02::after {
    content: "핫플콕콕";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 30px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
  }
  .tabs__tab-desc03::before {
    content: "";
    width: 16px;
    height: 19px;
    background-image: url(../../assets/icons/icon_tab-house-mobile.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 8px;
  }
  .tabs__tab-desc03::after {
    content: "핫플콕콕";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 30px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
  }
  .tab-panel__imges {
    flex-wrap: wrap;
    margin: auto;
    width: 99%;
  }
  .tab-panel__item {
    width: calc(50% - 20px);
    height: 140px;
    margin: 0 0 15px 10px;
  }
  .tab__panel--mobile {
    display: block;
  }
  .tab-panel__item {
    margin-top: 20px;
  }
  .tab-panel__item-img {
    width: 100%;
    height: 140px;
  }
  .tab-panel--ai {
    width: 876px;
    height: 267px;
    margin: auto;
    flex-direction: column;
  }
  .tab-panel__img-map {
    width: 20%;
  }
  .tabs__tab-more {
    margin: 10px 20px;
  }
  .tabs__tab-more {
    position: relative;
  }
  .more-button {
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #d4d9e5;
    border-radius: 50px;
    height: 28px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 700;
    padding: 0 12px;
  }
  .more-link {
    font-size: 12px;
  }
  .section2 {
    display: none;
  }
  .section2--mobile {
    display: block;
  }
  .section3--pc {
    display: none;
  }
  .section3--mobile {
    display: block;
  }
}