@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

@media (max-width: 1023px) {
  .gnb__top {
    height: 89px;
    box-shadow: transparent;
  }
  .gnb__top .container {
    width: 100%;
  }
  .gnb__top .container .gnb__top-hamburger {
    width: 100%;
    display: block;
    text-align: right;
  }
  .gnb__top .container .gnb__top-logo {
    display: none;
  }
  .gnb__top .container .gnb__top-logo-mobile {
    display: block;
  }
  .gnb__top .container .gnb__top-input-wrap {
    display: none;
  }
  .gnb__top .container .gnb__top-icon-map {
    display: none;
  }
  .gnb__bottom {
    display: none;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-progressbar {
  width: 940px !important;
  position: absolute;
  top: 88% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  background-color: rgba(255, 255, 255, 0.232) !important;
}

.swiper-pagination-progressbar-fill {
  background-color: white !important;
}

.button {
  background-color: transparent;
  border: 0;
  color: #333;
  cursor: pointer;
}

.wrap {
  font-family: "Noto Sans KR";
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.container {
  width: 940px;
  height: 100%;
  margin: auto;
}

.gnb__top {
  height: 89px;
  box-shadow: 0px 0px 6px 0px rgba(41, 42, 42, 0.15);
}
.gnb__top .container {
  position: relative;
  justify-content: space-between;
}
.gnb__top .container .gnb__top-hamburger {
  font-size: 30px;
}
.gnb__top .container .gnb__top-hamburger-menu {
  display: none;
  position: absolute;
  top: 89px;
  left: 0;
  width: 210px;
  height: 417px;
  background-color: #13294b;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu {
  padding: 12px 0 0;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .active {
  position: relative;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item {
  margin-top: 5px;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__item-link {
  display: block;
  padding-left: 19px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__item-link::before {
  background-image: url(../../assets/icons/icon_top-menu.png);
  content: "";
  display: inline-block;
  width: 21px;
  height: 44px;
  margin-right: 7px;
  vertical-align: -18px;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__item-link--item02 .fa-sharp {
  opacity: 0.5;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__item-link--item02::before {
  background-position: 0 -40px;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__item-link--item03::before {
  background-position: 0 -240px;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__item-link--item04::before {
  background-position: 0 -280px;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__item-link--item04::after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  vertical-align: 12px;
  margin-left: 6px;
  background-color: #fb5b41;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__sub {
  padding-top: 20px;
  position: absolute;
  left: 210px;
  top: -62px;
  height: 416px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #f0f0f0;
  box-shadow: inset 0px 9px 6px -9px rgba(42, 42, 42, 0.15);
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__sub .hamburger-menu__sub_link {
  display: block;
  padding-left: 19px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__sub .hamburger-menu__sub_link:hover {
  font-weight: 600;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item .hamburger-menu__sub::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: #2f4f7f;
  position: absolute;
  top: 61px;
  left: -1px;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item.active {
  background-color: #2f4f7f;
}
.gnb__top .container .gnb__top-hamburger-menu .hamburger-menu .hamburger-menu__item:hover {
  background-color: #2f4f7f;
}
.gnb__top .container .gnb__top-hamburger-menu .avatar {
  margin-top: 111px;
  text-align: center;
}
.gnb__top .container .gnb__top-hamburger-menu .avatar .avatar__img {
  margin: auto;
  margin-bottom: 10px;
}
.gnb__top .container .gnb__top-hamburger-menu .avatar .avatar__text-bold {
  font-weight: 400;
}
.gnb__top .container .gnb__top-hamburger-menu .avatar .button--white {
  font-size: 16px;
  color: #fff;
}
.gnb__top .container .gnb__top-hamburger-menu .avatar .fa-sharp {
  opacity: 0.6;
  font-size: 13px;
  margin-left: 3px;
}
.gnb__top .container .gnb__top-hamburger-menu.active {
  display: block;
}
.gnb__top .container .gnb__top-logo {
  margin-left: 43px;
}
.gnb__top .container .gnb__top-logo-mobile {
  display: none;
}
.gnb__top .container .gnb__top-input-wrap {
  width: 520px;
  margin-left: 12px;
  position: relative;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__input {
  padding: 0 50px 0 20px;
  height: 45px;
  line-height: 45px;
  border: 0;
  width: 100%;
  font-size: 16px;
  background: #eef0f2;
  outline: none;
  border-radius: 10px;
  font-family: "Noto Sans KR", sans-serif;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__input.active {
  border: 1px solid #333;
  background-color: #fff;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}
.gnb__top .container .gnb__top-input-wrap .icon-magnifier {
  color: #7b7b7b;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap {
  z-index: 100;
  display: none;
  position: absolute;
  width: 100%;
  top: 55px;
  overflow: hidden;
  border: 1px solid #666;
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .input-wrap__keyword-title {
  padding: 0 28px;
  margin-top: 20px;
  height: 33px;
  line-height: 33px;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.5px;
  color: #333;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .keyword__columns {
  padding-bottom: 32px;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .keyword__columns .keyword__column {
  flex: 1;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .keyword__columns .keyword__column .keyword__item {
  padding-left: 28px;
  margin-top: 20px;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .keyword__columns .keyword__column .keyword__item .keyword__item-num {
  display: block;
  background-color: #666;
  color: #fff;
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .keyword__columns .keyword__column .keyword__item .keyword__item-link {
  margin-left: 10px;
  width: 140px;
  height: 20px;
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .keyword__columns .keyword__column--lightgray .keyword__item {
  padding-left: 0;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .keyword__columns .keyword__column--lightgray .keyword__item .keyword__item-num {
  background-color: #949494;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .keyword__columns .keyword__column--lightgray .keyword__item .keyword__item-link {
  color: #666;
  font-weight: 400;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .keyword-close {
  background-color: #eef0f2;
  width: 100%;
  height: 33px;
  text-align: right;
}
.gnb__top .container .gnb__top-input-wrap .input-wrap__keyword-wrap .keyword-close .keyword-close__button {
  padding: 0 20px;
  line-height: 33px;
  font-size: 14px;
}

.gnb__bottom {
  height: 65px;
}
.gnb__bottom .gnb__bottom-menu {
  height: 100%;
}
.gnb__bottom .gnb__bottom-menu .bottom-menu__item {
  height: 100%;
  line-height: 62px;
  flex: 1;
  text-align: center;
}
.gnb__bottom .gnb__bottom-menu .bottom-menu__item .bottom-menu__item-link {
  display: block;
  font-size: 18px;
  color: #000;
  position: relative;
}
.gnb__bottom .gnb__bottom-menu .bottom-menu__item .bottom-menu__item-link--home {
  position: relative;
  padding-left: 25px;
  font-weight: 500;
}
.gnb__bottom .gnb__bottom-menu .bottom-menu__item .bottom-menu__item-link--home::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 19px;
  background: url(../../assets/icons/icon_home.gif);
  position: absolute;
  bottom: 20px;
  left: 125px;
}
.gnb__bottom .gnb__bottom-menu .bottom-menu__item .bottom-menu__item-link--home::after {
  z-index: -1;
  content: "";
  display: inline-block;
  width: 83px;
  height: 4px;
  background-color: #333;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}
.gnb__bottom .gnb__bottom-menu .bottom-menu__item .bottom-menu__item-link:hover::after {
  content: "";
  display: inline-block;
  width: 83px;
  height: 4px;
  background-color: #333;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}
.gnb__bottom .gnb__bottom-menu .bottom-menu__item .fa-caret-down {
  font-size: 11px;
  margin-left: 10px;
  vertical-align: 2px;
  color: #666;
  opacity: 0.6;
}
.gnb__bottom .gnb__bottom-menu .bottom-menu__dropmenu {
  display: none;
  width: 165px;
  border: 1px solid #636363;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #fff;
  margin: -62px auto 0;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px rgba(51, 51, 51, 0.21);
}
.gnb__bottom .gnb__bottom-menu .bottom-menu__dropmenu .bottom-menu__dropmenu-link {
  font-weight: 700;
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}