.section0 {
  display: none;
  padding: 0 15px;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 24px;
  position: relative;
}
.section0__input-search {
  display: block;
  border: 0;
  font-size: 12px;
  background-color: #eef0f2;
  outline: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 46px 0 15px;
  margin-top: 20px;
  border-radius: 7px;
}
.input-wrap__icon--mobile {
  position: absolute;
  top: auto;
  bottom: auto;
  bottom: -3px;
  right: auto;
  right: 25px;
  font-size: 15px;
}

// 섹션01

.section1 {
  background-color: #f0f2f7;
  height: 430px;
}
.section1__header {
  padding: 41px 0 30px;
}
.section1__header-img {
  width: 570px;
}
.header__img--mobile {
  display: none;
}
.section1__tabs {
  gap: 18px;
}
.tabs__tab {
  width: 165px;
  padding: 0 0 13px;
  cursor: pointer;
}
.tabs__tab-button {
  display: block;
  background-image: url(../../assets/icons/icon_section1-button.png);
  height: 42px;
  border-radius: 50px;
  background-color: #fff;
  background-repeat: no-repeat;
}
.tabs__tab-button01.active {
  background-color: #5558e3;
  box-shadow: 7px 11px 24px 0px rgb(85 88 227 / 26%);
  background-position: 0 -42px;
}
.tabs__tab-button02 {
  background-position: 0 -168px;
}
.tabs__tab-button03 {
  background-position: 0 -84px;
}
.tabs__tab-button02.active {
  background-color: #4094f2;
  background-position: 0 -210px;
  box-shadow: 7px 11px 24px 0px rgb(85 88 227 / 26%);
}
.tabs__tab-button03.active {
  background-color: #567ff2;
  background-position: 0 -126px;
  box-shadow: 7px 11px 24px 0px rgb(85 88 227 / 26%);
}
.tabs__tab-desc {
  padding: 8px 0 0 8px;
  font-size: 15px;
  color: $color-secondary;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.7px;
  word-break: keep-all;
}
.tab-panel__item {
  width: 233px;
  height: 235px;
  margin-left: 20px;
  border-radius: 20px;
  overflow-y: hidden;
}
.tab-panel__item-link {
  position: relative;
}
.tab-panel__item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 40%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
}
.tab-panel__item-img {
  width: 233px;
  height: 235px;
}
.tab-panel__item-title {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  height: 72px;
  line-height: 72px;
  color: $color-white;
  letter-spacing: -0.5px;
  z-index: 5;
}
.tab__panel--mobile {
  display: none;
}
.tabs__tab-more {
  justify-content: flex-end;
  color: $color-primary;
  line-height: 19px;
  margin-top: 10px;
}
button {
  color: $color-primary;
  line-height: 19px;
  margin-right: 18px;
}
.tab-more__icon-refresh {
  width: 18px;
  height: 16px;
  margin-left: 6px;
  vertical-align: -20px;
}
.tab-more__icon-arrow {
  color: $color-primary;
}
.tab-panel--ai {
  background-color: $color-white;
  height: 235px;
  width: 739px;
  border-radius: 20px;
  margin-left: 20px;
  justify-content: center;
  gap: 50px;
}
.tab-panel__desc-title {
  font-size: 18px;
  color: #000;
  line-height: 21px;
  line-height: 21px;
  letter-spacing: -0.07px;
}
.tab-panel__desc-desc {
  padding: 5px 0 19px;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 20px;
  color: $color-secondary;
}
.tab-panel__desc-button {
  height: 35px;
  line-height: 35px;
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: $color-white;
  border-radius: 5px;
  background-color: #4094f2;
  text-align: center;
  margin-left: 2px;
}

// 섹션02

.section2 {
  margin-top: 50px;
}
.section2__row {
  justify-content: space-between;
}
.section2__banner-link {
  overflow: hidden;
  border-radius: 20px;
}
.board__header {
  margin-bottom: 16px;
}
.board__more-link {
  padding: 0 15px 0 0;
  position: relative;
  margin-top: 15px;
  height: 38px;
}
.board__title {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #000;
}
.board__title-add {
  font-size: 20px;
  position: absolute;
  right: 0;
}
.board__item {
  border-bottom: 1px solid #e6e6e6;
}
.board__item:hover {
  text-decoration: underline;
}
.board__item--n1 {
  background-color: #eee;
}
.board__item-link {
  line-height: 42px;
  font-size: 16px;
  color: $color-primary;
  font-weight: 500;
}
.board__item-link--n1 {
  margin: 0 15px;
}
.board__item-title {
  color: #a2660d;
}
.section2__col--2 {
  width: 465px;
  background-color: blue;
}
.img-grid {
  gap: 7px;
  flex-wrap: wrap;
  // justify-content: space-between;
  align-items: stretch;
}
.img-grid__item {
  border-radius: 10px;
  overflow: hidden;
}
.img-grid__item img {
  width: 229px;
  height: 240px;
}

.img-grid__grid2 {
  display: none;
}

// 섹션02-모바일

.section2--mobile {
  display: none;
}
.section__title--mobile {
  font-weight: 500;
  color: #000;
  line-height: 21px;
  letter-spacing: -1px;
  font-size: 17px;
  padding: 27px 30px 14px 15px;
}
.section2-swiper {
  border: 3px solid cyan;
  margin-top: 50px;
  padding: 0 15px !important;
  position: relative;
}
.section2-slide {
  width: 235px !important;
}
.section2-slide__img {
  height: 190px !important;
}
.section2-slide__desc {
  font-size: 14px;
  font-weight: 300;
  margin: 17px 0 0;
  text-align: left;
  line-height: 18px;
}
.section2-swiper__button-next,
.section2-swiper__button-prev {
  position: absolute;
  background-color: red;
  top: 0 !important;
}

// 섹션03

.section3 {
  margin-top: 50px;
}
.section3__img-grid {
  flex-wrap: wrap;
  gap: 20px;
  background-color: orange;
}
.section3__item {
  position: relative;
}
.section3__img {
  padding: 19px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}
.section3__link {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.section3__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 40%;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.639));
}
.section3__text {
  position: absolute;
  left: 39px;
  top: 34px;
  font-weight: 700;
  font-size: 16px;
  color: $color-white;
  line-height: 21px;
}

// 섹션03-모바일

.section3--mobile {
  display: none;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.section3-img {
  height: 230px !important;
}
.section3-text {
  height: 100%;
  text-align: left;
  padding: 0 20px;
}
.section3-text__desc {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-weight: 300;
  margin: 17px 0 0;
}
.section3-text__tags {
  margin-top: 15px;
}
.section3-text__tag {
  text-align: center;
  padding: 0 10px;
  background-color: #f0f0f0;
  border-radius: 50px;
  margin-right: 5px;
  font-size: 12px;
  white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}
.section3-bookmark {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 0;
  background: url(../../assets/icons/icon_bookmark.png) 0 0 / 100% auto
    no-repeat;
}

// 미디어쿼리

@media (max-width: 1024px) {
  .section0 {
    display: block;
  }
  .section1 {
    height: auto;
    padding-bottom: 20px;
    margin: 20px 0 0;
  }
  .section1__tabs {
    flex-direction: column;
  }
  .tabs__tab-list {
    display: flex;
  }
  .section1__header {
    padding: 20px 0 17px;
    margin: 0 15px;
  }
  .section1__header-img {
    width: 300px;
  }
  .header-img--pc {
    display: none;
  }
  .header__img--mobile {
    display: block;
  }
  .tabs__tab-list {
    background-color: $color-white;
    width: 97%;
    height: 33px;
    margin: 0 auto 80px;
    border-radius: 50px;
  }
  .tabs__tab {
    width: 33.33%;
    position: relative;
  }
  .tabs__tab-button {
    height: 33px;
  }
  .tabs__tab-button01 {
    background-image: url(../../assets/icons/icon_hotplace-mobile.png);
    background-position: 50% 0;
    background-size: 49px;
    background-repeat: no-repeat;
  }
  .tabs__tab-button01.active {
    background-position: 50% 100%;
    box-shadow: none;
  }
  .tabs__tab-button02 {
    background-image: url(../../assets/icons/icon_planner-mobile.png);
    background-size: 73px;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
  .tabs__tab-button02.active {
    background-position: 54% -33px;
    box-shadow: none;
  }
  .tabs__tab-button03 {
    background-image: url(../../assets/icons/icon_ai-mobile.png);
    background-position: 50% 0;
    background-size: 45px;
    background-repeat: no-repeat;
  }
  .tabs__tab-button03.active {
    background-position: 50% -33px;
    box-shadow: none;
  }
  .tabs__tab-desc {
    margin-top: 15px;
    line-height: 15px;
    height: 30px;
    font-size: 12px;
    color: $color-primary;
    letter-spacing: -0.3px;
    position: absolute;
  }
  .tabs__tab-desc01::before {
    content: "";
    width: 16px;
    height: 19px;
    background-image: url(../../assets/icons/icon_tab-house-mobile.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 8px;
  }
  .tabs__tab-desc01::after {
    content: "핫플콕콕";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 30px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
  }
  .tabs__tab-desc02::before {
    content: "";
    width: 16px;
    height: 19px;
    background-image: url(../../assets/icons/icon_tab-house-mobile.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 8px;
  }
  .tabs__tab-desc02::after {
    content: "핫플콕콕";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 30px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
  }
  .tabs__tab-desc03::before {
    content: "";
    width: 16px;
    height: 19px;
    background-image: url(../../assets/icons/icon_tab-house-mobile.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 8px;
  }
  .tabs__tab-desc03::after {
    content: "핫플콕콕";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 30px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
  }
  .tab-panel__imges {
    flex-wrap: wrap;
    margin: auto;
    width: 99%;
  }
  .tab-panel__item {
    width: calc(50% - 20px);
    height: 140px;
    margin: 0 0 15px 10px;
  }
  .tab__panel--mobile {
    display: block;
  }
  .tab-panel__item {
    margin-top: 20px;
  }
  .tab-panel__item-img {
    width: 100%;
    height: 140px;
  }
  .tab-panel--ai {
    width: 876px;
    height: 267px;
    margin: auto;
    flex-direction: column;
  }
  .tab-panel__img-map {
    width: 20%;
  }
  .tabs__tab-more {
    margin: 10px 20px;
  }
  .tabs__tab-more {
    position: relative;
  }
  .more-button {
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #d4d9e5;
    border-radius: 50px;
    height: 28px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 700;
    padding: 0 12px;
  }
  .more-link {
    font-size: 12px;
  }

  .section2 {
    display: none;
  }

  // 섹션02-모바일

  .section2--mobile {
    display: block;
  }

  .section3--pc {
    display: none;
  }

  // 섹션03-모바일
  .section3--mobile {
    display: block;
  }
}
