.section1 {
  background-color: #f0f2f7;
}
.section1__header {
  padding: 41px 0 30px;
}
.section1__header-img {
  width: 570px;
}
.section1__tabs {
  gap: 18px;
}
.tabs__tab {
  width: 165px;
  padding: 0 0 13px;
  cursor: pointer;
}
.tabs__tab-button {
  display: block;
  background-image: url(../../assets/icons/icon_section1-button.png);
  height: 42px;
  border-radius: 50px;
  background-color: #fff;
}
.tabs__tab-button.active {
  background-color: #5558e3;
  box-shadow: 7px 11px 24px 0px rgb(85 88 227 / 26%);
}
.tabs__tab-button01 {
  background-position: 0 -42px;
}
.tabs__tab-button02 {
  background-position: 0 -168px;
}
.tabs__tab-button03 {
  background-position: 0 -84px;
}
.tabs__tab-desc {
  padding: 8px 0 0 8px;
  font-size: 15px;
  color: $color-secondary;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.7px;
  word-break: keep-all;
}
.tab-panel__item {
  width: 233px;
  height: 235px;
  margin-left: 20px;
  border-radius: 20px;
  overflow-y: hidden;
}
.tab-panel__item-link {
  position: relative;
}
.tab-panel__item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 40%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
}
.tab-panel__item-img {
  width: 233px;
  height: 235px;
}
.tab-panel__item-title {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  height: 72px;
  line-height: 72px;
  color: $color-white;
  letter-spacing: -0.5px;
  z-index: 5;
}
.tabs__tab-more {
  justify-content: flex-end;
  color: $color-primary;
  line-height: 19px;
}
button {
  color: $color-primary;
  line-height: 19px;
  margin-right: 18px;
}
.tab-more__icon-refresh {
  width: 18px;
  height: 16px;
  margin-left: 6px;
  vertical-align: -20px;
}
.tab-more__icon-arrow {
    color: $color-primary;
}
